* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  padding-block: 0;
  padding-inline: 0;
  font-family: "Source Sans 3", Arial, sans-serif;
  text-overflow: ellipsis;
}

:root {
  --black: black;
  --header-back-color: rgba(3, 37, 65, 1);
  --header-text-color: #fff;
  --border-grey: rgba(33, 37, 41, 0.2);
}

.html {
  font-size: 16px;
}

.html,
body {
  height: 100%;
  width: 100%;
}

.body {
  display: flex;
  justify-content: center;
}

.desktop-width {
  margin: 0 min(2.5rem, 1.5vw) 0 min(2.5rem, 1.5vw);
  width: min(82.5rem, 100%);
}
