.header {
  background-color: var(--header-back-color);
  display: flex;
  height: 4rem;
  justify-content: center;
}

.header-content {
  align-items: center;
  color: var(--header-text-color);
  display: flex;
  height: 100%;
}

/* ----------------------------------------- NAV LEFT  */

.logo {
  height: 1.25rem;
  width: 9.6rem;
}

.nav-left,
.nav-right {
  align-items: center;
  display: flex;
}

.dropdown-menu {
  position: relative;
}

.dropdown-button {
  color: var(--header-text-color);
  background-color: transparent;
  font-size: 1rem;
  font-weight: 600;
  margin-left: 1.75rem;
  padding: 0.5rem 0;
  cursor: pointer;
  border: none;
}

.dropdown-content {
  flex-direction: column;
  background-color: var(--header-text-color);
  z-index: 2;
  padding: 0.25rem 0 0.25rem 0rem;
  border-radius: 0.5rem;
  border: 1px solid var(--border-grey);
  white-space: nowrap;
  display: none;
  position: absolute;
  left: 25%;
  top: 90%;
  box-shadow: 0.25rem 0.25rem 0.5rem rgba(0, 0, 0, 0.089);
}

.dropdown-link {
  display: block;
  text-decoration: none;
  color: var(--black);
  font-size: 14.4px;
  padding: 0.25rem 3rem 0.25rem 1rem;
  font-weight: 400;
  width: auto;
}

.dropdown-link:hover {
  background-color: var(--border-grey);
}

.dropdown-menu:hover .dropdown-content {
  display: block;
}

/* ------------------------------------------------------- NAV RIGTH */

.nav-right {
  margin-left: auto;
}

.nav-item {
  color: var(--header-text-color);
  font-size: 1rem;
  font-weight: 600;
  margin-left: 1.75rem;
  cursor: pointer;
}
