.movies-container {
  display: flex;
  flex-direction: column;
  margin-left: 2rem;
  width: 100%;
}

.movies {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 2rem;
}

/* ----------------------------------------------- MOVIE CARD */

.movie-card {
  display: flex;
  flex-direction: column;
  box-shadow: var(--movie-card-shadow);
  border-radius: 0.5rem;
  aspect-ratio: 180/380;
  max-width: 15.5rem;
  overflow: hidden;
  position: relative;
  border: 1px solid var(--border-grey);
}

.movie-poster {
  width: 100%;
  background-color: var(--poster-background-color);
  aspect-ratio: 180/271;
}

/* ------------------------- MOVIE DATA */

.movie-data {
  padding: 10% 0.625rem 0.75rem 0.625rem;
}

.movie-name {
  font-size: 1rem;
  font-weight: 700;
  white-space: normal;
  cursor: pointer;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  display: -webkit-box;
  -webkit-line-clamp: 2;
}

.movie-name:hover {
  color: rgba(var(--blue-hover-color));
}

.movie-relese-date {
  color: var(--relese-date-txt-color);
  font-size: 1rem;
}

.movie-description {
  display: none;
}

/* ------------------------ ELEMENTS POSITIOIN ABSOLUTE */

.circle {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.move-rating-circle-1 {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  display: flex;
  letter-spacing: 0.1rem;
  font-size: 0.75rem;
  bottom: 24.5%;
  left: 7%;
  width: 38px;
  height: 38px;
  background-color: var(--dark-blue-rating);
}

.circle-2 {
  background: conic-gradient(
    rgba(var(--percent-color-medium), 1) 20%,
    20%,
    rgba(var(--percent-color-medium), 0.3) 100%
  );
  width: 2.15rem;
  height: 2.15rem;
}

.circle-3 {
  background-color: var(--dark-blue-rating);
  width: 1.9rem;
  height: 1.9rem;
  color: var(--white);
  font-size: 1rem;
  font-weight: 800;
  letter-spacing: 0;
  padding-left: 5%;
}

.percent {
  height: 50%;
  display: flex;
  align-items: start;
  font-size: 0.4rem;
  font-weight: 400;
}

.movie-options {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  letter-spacing: 0.1rem;
  font-size: 0.75rem;
  top: 3%;
  right: 7.5%;
  width: 1.1rem;
  height: 1.1rem;
  border-radius: 50%;
  padding: 0 0 0.1rem 0.1rem;
  background-color: var(--transparant-gray);
  cursor: pointer;
}

.movie-options:hover {
  background-color: rgba(var(--blue-hover-color));
  color: transparent;
}

/* -------------------------------------------- LOAD BUTTON */

.load-button {
  margin-top: 2rem;
  width: 100%;
  height: 3.125rem;
  border-radius: 0.5rem;
  font-size: 1.5rem;
  font-weight: 700;
}

/* ------------------------------------------------ MEDIA QUERRY */

@media screen and (max-width: 768px) {
  .movies-container {
    margin-left: 0;
    margin-top: 2rem;
    align-items: center;
  }

  .movies {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  .movie-card {
    flex-direction: row;
    height: 8.8125rem;
    width: 100%;
    max-width: 100%;
  }

  .movie-poster {
    width: auto;
    height: 100%;
  }

  .movie-data {
    padding: 1.25rem 1.25rem;
    width: 100%;
  }

  .movie-description {
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    line-clamp: 2;

    font-size: 0.9rem;
    margin-top: 1.25rem;
    line-height: 1.1rem;
    height: 2.25rem;
  }

  .circle {
    display: none;
  }

  .movie-options {
    display: none;
  }
}
