/* --------------------------------------------------------- FORM */

.sorting {
  min-width: 16.25rem;
  max-width: 16.25rem;
}

@media screen and (max-width: 768px) {
  .sorting {
    min-width: 16.25rem;
    max-width: none;
  }
}

.form-heading {
  font-weight: 300;
  font-size: 1rem;
  margin-bottom: 0.625rem;
}

.form-button {
  background-color: var(--light-blue);
  border: none;
  color: var(--white);
  cursor: pointer;
}

.form-button:hover {
  background-color: var(--header-back-color);
}

/* ---------------------------- SELECT OPTION */

.select-option {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0.5rem 0.75rem;
  align-items: center;
  border: none;
  border-radius: 0.5rem;
  background-color: var(--background-grey);
  cursor: pointer;
}

.select-option:hover {
  filter: brightness(0.9);
}

.select-option.colorChange {
  filter: brightness(0.9);
}

.options {
  display: none;
  flex-direction: column;
  position: absolute;
  background-color: var(--white);
  border: 1px solid var(--border-grey);
  border-radius: 0.25rem;
  max-height: 14.125rem;
  padding: 0.25rem 0;
  width: calc(100% - 2rem);
  z-index: 2;
  left: 1rem;
  top: 85px;
  overflow: auto;
}

.options.displayOptions {
  display: flex;
}

.sort-option {
  padding: 0.25rem 1rem;
  background-color: var(--white);
  border: none;
  transition: 50ms ease;
  cursor: pointer;
  text-align: start;
  font-size: 1rem;
  font-weight: 400;
}

.sort-option:hover {
  background-color: var(--background-grey);
}

.search-button {
  height: 2.75rem;
  width: 100%;
  border-radius: 1.25rem;
  font-size: 1.2em;
  font-weight: 600;
  justify-content: center;
  margin-top: 1rem;
}

.search-button:disabled {
  background-color: var(--background-grey);
  color: rgba(0, 0, 0, 0.5);
  cursor: auto;
}

.out-of-view {
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 1;
  border-radius: 0;
}

.open-close-button {
  width: 100%;
  height: 3.125rem;
  border-radius: 0.75rem;
  background-color: unset;
  border: none;
  padding: 0.875rem 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.1rem;
  font-weight: 600;
  cursor: pointer;
}

.sort-filter {
  width: 100%;
  border-radius: 0.75rem;
  border: 1px solid var(--border-grey);
  margin-bottom: 0.5rem;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.129);
  display: flex;
  flex-direction: column;
}

.sort-content {
  display: none;
  flex-direction: column;
  border-top: 1px solid var(--border-grey);
  padding: 0.875rem 1rem;
  position: relative;
}

.filter-content {
  display: none;
  flex-direction: column;
  position: relative;
}

.filter-section {
  display: flex;
  flex-direction: column;
  border-top: 1px solid var(--border-grey);
  padding: 0.875rem 1rem;
}

.sort-content.openSort {
  display: flex;
}

.filter-content.openForm {
  display: flex;
}

/* -----------------------------------------------------------POINTER */

.pointer {
  width: 0.53rem;
  height: 0.53rem;
  border-right: black solid 0.19rem;
  border-bottom: black solid 0.19rem;
  transform: rotate(-45deg);
  transition: 80ms ease;
}

.pointer.open {
  transform: rotate(45deg);
}

/* -----------------------------------------------------------------FILTERS */

.hidden-checkboxes {
  display: none;
}

.show-checkboxes {
  display: flex;
  flex-direction: column;
}

.checkbox-label {
  margin: 0.1rem 0;
}

.checkbox-label-countries {
  margin-bottom: 1.25rem;
}

.date-input {
  height: 2rem;
}

.date-label {
  display: flex;
  justify-content: space-between;
  margin: 0.5rem 0;
}

@media screen and (max-width: 768px) {
  .date-label {
    width: 60%;
    justify-content: space-between;
  }
}

/* ----------------------------  GENRES*/
.genres-container {
  max-width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.Genres-checkbox {
  display: none;
}

.Genres-label {
  cursor: pointer;
  padding: 0.25rem 0.75rem;
  border-radius: 0.875rem;
  border: solid 1px var(--dark-border-gray);
  font-size: 0.9rem;
  font-weight: 400;
  margin: 0.4rem 0.5rem 0 0;
}

.Genres-label:hover {
  border-color: var(--light-blue);
  background-color: var(--light-blue);
  color: var(--white);
}

.checked {
  border-color: var(--light-blue);
  background-color: var(--light-blue);
  color: var(--white);
}

/* ---------------------------------------- RANGES */

.usre-scores {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  min-width: 100%;
  max-width: 100%;
}
